@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { 
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
}

.wrapper {
    text-align: center;
    width: 500px;
    height: 350px;
    color: black;
    border-radius: 4%;
    border-style: solid;
    border: 1px solid transparent;
    border-color: grey;
    padding: 30px 40px;

}

p {
    padding-bottom: 10%;
    -moz-text-size-adjust: auto;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

.wrapper-box input {
    width: 420px;
    height: 40px;
    outline: none;
    border: none;
    border-style: solid;
    border: 1px solid transparent;
    border-color: grey;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.wrapper-box input ::placeholder{
    background-color: antiquewhite;
}

.btn-primary {
    padding-top: 4%;
}

button {
    width: 300px;
    height: 35px;
    background-color: #000000;
    outline: none;
    border: none;
    border-style: hidden;
    box-shadow: 0 0 10px rgba(f,f,f, .1);
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.links {
    padding-top: 3%;
}

.links a {
    color: grey;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 20px;
    }

    h2 {
        font-size: 40px;
    }

    .wrapper-box input,
    button {
        width: 100%;
    }
}